doctype html
html
    head
        title=title
        link(href='/stylesheets/bootstrap.css',type='text/css',rel='stylesheet')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/socket.io.js')
        script(src='/javascripts/adapter.js')

    body
        form
            div.container#container
                div.row
                    div.col-md-2.col-sm-12
                        h3 [Server State]:
                    div.col-md-2.col-sm-12
                        label#serverState
                    div.col-md-2.col-sm-12
                        h3 [Room Name]:
                    div.col-md-2.col-sm-12
                        h3#roomName
                div.row
                    div.col-md-12.col-sm-12
                        div.form-inline
                            input(type='button',value='call',onclick='doCall()')
                div.row
                    div.col-md-12.col-sm-12
                        label local video
                    div.col-md-12.col-sm-12
                        video#localVideo(autoplay='autoplay')

    script.
        //create hash list
        var list=new Array();

        //get room name
        var room=prompt('enter room name:');
        $('#roomName').html(room);

        //current socketid
        var socketid;

        //initial local stream
        var localStream;
        getUserMedia({video:true,audio:true},function(stream){
            attachMediaStream(document.getElementById('localVideo'),stream);
            localStream=stream;
        },function(error){
            alert('Initialize local stream failed: '+error);
        });

        //Initialize socket.io
        var socket=io();
        socket.emit('_join',room);

        socket.on('_join',function(socketId){
            CreateNode(socketId);
        });

        socket.on('_getSocketId',function(socketid){
            socketid=socketid;
            alert(socketid);
        });

        socket.on('_getOnlineLists',function(clientInRoom){
            for(var i in clientInRoom){
                Create(clientInRoom[i].socketid);
            }
        });

        //methods
        function Create(socketId)
        {
            //create pc and set up event handler
            var pc=new RTCPeerConnection(null);
            pc.addStream(localStream);
            pc.onaddstream=handleOnAddStream;
            pc.onicecandidate=handleOnIceCandidate;

            //put the new comer to the online list
            var client={id:socketId,connection:pc};
            list.push(client);

            //append a new video object to the DOM tree
            var div=document.createElement('div');
            div.setAttribute('class','row');
            var childDiv1=document.createElement('div');
            childDiv1.setAttribute('class','col-md-12 col-sm-12');
            var childLabel1=document.createElement('label');
            var textNode=document.createTextNode('ID : '+socketId);
            childLabel1.appendChild(textNode);
            childDiv1.appendChild(childLabel1);
            var childDiv2=document.createElement('div');
            childDiv2.setAttribute('class','col-md-12 col-sm-12');
            var childVideo=document.createElement('video');
            childVideo.setAttribute('autoplay','autoplay');
            childDiv2.appendChild(childVideo);
            div.appendChild(childDiv1);
            div.appendChild(childDiv2);
            document.getElementById('container').appendChild(div);
        }

        function GetRTCPeerConnectionBySocketId(socketId)
        {
            for(var i in list)
            {
                if(list[i].id===socketId)
                {
                    return list[i].connection;
                }
            }
        }

        function handleOnAddStream(event)
        {

        }

        function handleOnIceCandidate(event)
        {

        }

        function send(message)
        {
            socket.emit('_message',message);
        }
